.teamSection {
    padding: 5rem 10%;
    display: flex;
    flex-wrap: wrap;
}

.teamSection .title {
    font-size: 34px;
    color: #4B4F52;
    text-align: center;
    margin-bottom: 2rem;
    flex-basis: 100%;
}

.teamItem {
    flex-direction: row;
    margin: 1rem;
    width: 30%;
    background: #F7F7F7
}

.teamPos {
    font-size: 16px;
    color: #CCAE92;
    padding: 1rem;
}

.teamPhoto img {
    width: 100%;
}

.teamName {
    font-size: 22px;
    color: #4B4F52;
    padding: 1rem;
    padding-top: 0;
}
.teamCarousel {
    display: none;
}

.contentImage {
    width: 100%;
    height: auto;
}