.btn {
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
        transition: 250ms;
    }

}

.maroon_contact_btn {
    background-color: #CCAE92;
    color: #F7F7F7;
    font-weight: 600;
    padding: 15px 35px;

    &:hover {
        background-color: rgb(167, 158, 158);
    }
}

.gray_contact_btn {
    background-color: #EFEAE5;
    color: #4B4F52;
    font-weight: 600;
    padding: 10px 25px;

    &:hover {
        background-color: #c0c0c0;
    }
}