.main_section {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    .row {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: start;
        align-items: start;


        .column {
            // background: #fff;
            margin: 0 15px;
            text-align: left;
            -webkit-box-flex: 1;
            flex: 1;
            display: -webkit-box;
            display: flex;
            align-items: start;
            flex-wrap: wrap;

            h4 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: #4B4F52;
                font-size: 1rem;
                line-height: 22px;
                margin: 1rem 0 1.6rem;
            }

            p {
                font-size: 14px;
                color: #4B4F52;
                text-align: justify;
                margin: 1rem 0;

                a {
                    padding: 0;
                    font-family: 'Montserrat', sans-serif;
                    text-decoration: none;
                    color: #4C5760;

                    &:hover {
                        color: #313131
                    }

                    &::after {
                        width: 150px !important;
                    }
                }
            }

            ul {
                list-style: none;
                margin: 1rem 0;
                padding: 0;

                li {
                    display: flex;
                    justify-content: start;
                    line-height: 20px;

                    svg {
                        margin-right: 10px;
                        color: #CCAE92;
                    }

                    span {
                        font-size: 14px;
                        color: #4B4F52;
                    }
                }
            }
        }

        img {
            width: 100%;
            height: auto;
        }

        .column>* {
            flex: 1 1 100%;
        }
    }
}