@import '../../../app/assets/scss/variables.scss';

.arrowList {
  padding: 0;
  li {
    list-style: none;
    position: relative;
    padding-left: 29px;
    &::after {
      content: '\f13b';
      font-family: uicons-bold-straight !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 10px;
      height: 10px;
      color: $primary;
    }
  }
}
