.team_section_container {
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;

    h2 {
        padding: 25px 0;
    }

    .cards {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-auto-flow: dense;
        align-items: start;
    }
}

.mobile_team_section_container {
    display: none;

    h2 {
        padding: 25px 0;
        text-align: center;
    }
}


@media only screen and (max-width: 1100px) {
    // .cards {}
}

@media only screen and (max-width: 920px) {
    .team_section_container {
        display: none;

        // .cards {}
    }

    .mobile_team_section_container {
        display: block;

        .mobile_cards {
            margin: auto;
            padding-bottom: 100px;
            grid-template-columns: 1fr;

            .slick-slider {
                height: 400px !important;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .team_section_container {
        display: none;

        // .cards {}
    }

    .mobile_team_section_container {
        display: block;

        .mobile_cards {
            margin: auto;
            padding-bottom: 100px;
            grid-template-columns: 1fr;
        }
    }
}