.carouselSlider {
    background-color: #F7F7F7;
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 0;

    .heading {
        color: #4B4F52;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 22px;
        font-weight: bold;
    }
}